# Core functionality - changes here should be rare!
/src/app.py                   @gibuieiluor-bit
/src/backend/database.py      @gibuieiluor-bit
/src/backend/routers/auth.py  @gibuieiluor-bit

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gibuieiluor-bit

